{#
# -------------------------------------------------------------------------
# Addressing plugin for GLPI
# -------------------------------------------------------------------------
#
# LICENSE
#
# This file is part of Addressing.
#
# Addressing is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# Addressing is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Addressing. If not, see <http://www.gnu.org/licenses/>.
# -------------------------------------------------------------------------
# @copyright Copyright (C) 2026-2026 by Addressing plugin team.
# @license   GPLv2 https://www.gnu.org/licenses/gpl-2.0.html
# @link      https://github.com/InfotelGLPI/Addressing
# -------------------------------------------------------------------------
#}

{% import "components/form/fields_macros.html.twig" as fields %}

{% set field_options = {'label_class': 'col-4', 'input_class': 'col-8', 'full_width': false} %}

{{ include('components/form/header.html.twig') }}
<div class="card">
    <div class="card-body">
        <form name='form' action='{{ action }}' method='post'>
            <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="id" value="{{ id }}">

                <div class="hr-text">
                    <i class="fa-2x ti ti-report-analytics"></i>
                    <span>{{ __('Display', 'addressing') }}</span>
                </div>
                <div class="row">
                    {{ fields.sliderField(
                        'alloted_ip',
                        config["alloted_ip"],
                        __('Assigned IP', 'addressing'),
                        field_options
                    ) }}

                    {{ fields.sliderField(
                        'free_ip',
                        config["free_ip"],
                        __('Free IP', 'addressing'),
                        field_options
                    ) }}

                    {{ fields.sliderField(
                        'double_ip',
                        config["double_ip"],
                        __('Same IP', 'addressing'),
                        field_options
                    ) }}

                    {{ fields.sliderField(
                        'reserved_ip',
                        config["reserved_ip"],
                        __('Reserved IP', 'addressing'),
                        field_options
                    ) }}

                    {{ fields.sliderField(
                        'use_ping',
                        config["use_ping"],
                        __('Use Ping on IP ranges', 'addressing'),
                        field_options
                    ) }}
            </div>

            <div class="hr-text">
                <i class="fa-2x ti ti-terminal-2"></i>
                <span>{{ __('System for ping', 'addressing') }}</span>
            </div>
            <div class="row">

                {% set tab = {0: __('Linux ping', 'addressing'),
                    1:  __('Windows', 'addressing'),
                    2: __('Linux fping', 'addressing'),
                    3: __('BSD ping', 'addressing'),
                    4:  __('MacOSX ping', 'addressing')} %}

                {{ fields.dropdownArrayField(
                    'used_system',
                    config["used_system"],
                    tab,
                    __('System for ping', 'addressing'),
                    field_options
                ) }}

            </div>

            <div class="hr mt-3 mb-3"></div>
            <div class="hstack gap-1">
                <div class="pe-5 ms-auto">
                    <button class="btn btn-primary" type="submit" name="update" value="1">
                        <i class="ti ti-device-floppy"></i>
                        <span>{{ _x('button', 'Save') }}</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
